body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
h1 {
  color: blueviolet;
  margin-top: 30px;
}
button {
  padding: 10px 0 10px 10px;
  border-radius: 15px;
  margin: 5px;
  color: yellow;
  /* border: 1px solid rgb(46, 46, 165); */
  border: none;
  outline: none;
  cursor: pointer;
}
button:hover,
button:active {
  transform: scale(1.1);
}

.start {
  background-color: green;
}
.close {
  background-color: red;
}
.send {
  background-color: skyblue;
}
.number {
  border-radius: 15px;
  background-color: beige;
  border: 1px solid rgb(181, 202, 88);
  padding: 8px;
  outline: none;
  color: blue;
  width: 100px;
  text-align: center;
}
.equal {
  color: green;
}
.low {
  color: blue;
}
.big {
  color: red;
}
